<template name="yourTeams">
<div class="teams">
	{{#if currentUser}}

		<div>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#managing" aria-controls="managing" role="tab" data-toggle="tab">Managing</a></li>
		    <li role="presentation"><a href="#participating" aria-controls="participating" role="tab" data-toggle="tab">Participating</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="managing">
		    	{{#if leader}}
		    		{{#each leader}}
		    			{{>teamItem}}
		    		{{/each}}
		    	{{else}}
		    		<div class="alert alert-warrning">You are not participating in any team yet.</div>
		    		<h3><a href="{{pathFor 'teamNew'}}">Create one now!</a></h3>
		    	{{/if}}
		    </div>

		    <div role="tabpanel" class="tab-pane" id="participating">
		    	{{#if teams}}
			    	{{#each teams}}
			    	  {{> teamItem}}
			    	{{/each}}
			    {{else}}
			    	<div class="alert alert-success">You are not participating in any team yet.</div>
			    	<h3><a href="{{pathFor 'teamNew'}}">Create your own</a></h3>
			    {{/if}}
		    </div>
		  </div>

		</div>
	  
	{{else}}
		<div class="alert alert-error">Please Login or Sign Up to Manage your teams.</div>
	{{/if}}
	</div>
	{{#if currentUser}}
		<h3><a href="{{pathFor 'teamNew'}}">Create a new Team!</a></h3>
	{{/if}}
</template>