<template name="contribNew"> 
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="title">Title</label> 
			<div class="controls">
				<input name="title" type="text" value="" placeholder="Title"> 
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="desc">Description</label> 
			<div class="controls">
				<textarea name="desc" type="text" value=""> </textarea>
			</div>
		</div>
		
		<div class="control-group"> 
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"> 
			</div>
		</div> 
	</form>
</template>