<template name="teamItem">
  <div class="team post">
    <div class="post-content">
      <h3 class="team-header">
      	<a href="{{pathFor 'teamPage'}}">{{name}}</a>
      	<span style="display:none">{{_id}}</span>
  	  </h3>
      <p>{{desc}}</p>
      <!-- {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}} </p> -->
    </div>
  </div>
</template>