<template name="teamPage">
	{{#if currentUser}}
		{{#if partOf}}
			{{> teamItem}}
			
			<ul>
				{{#each contrib}}
					{{> contribItem}}
				{{/each}}
			</ul>

			{{> contribNew}}
		{{else}}
			<div class="alert alert-error">You are not authorized to see this page, Please login.</div>
		{{/if}}
	{{else}}
		<div class="alert alert-error">You are not authorized to see this page, Please login.</div>
	{{/if}}
</template>