<template name="teamNew"> 
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="name">Name</label> 
			<div class="controls">
				<input name="name" type="text" value="" placeholder="Team's Name"> 
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="desc">Description</label> 
			<div class="controls">
				<textarea name="desc" type="text" value=""> </textarea>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="part">Participants</label> 
			<div class="controls">
				<textarea name="part" type="text" value=""> </textarea>
				<p>Emails of participants separated by ','</p>
			</div>
		</div>

		<div class="control-group"> 
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"> 
			</div>
		</div> 
	</form>
</template>