<template name="header">
	<header class="navbar">
		<div class="navbar-inner">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-coll
			apse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</a>
			<a class="brand" href="{{pathFor 'yourTeams'}}">Team Management</a> 
			<div class="nav-collapse collapse">
				

				<ul class="nav pull-right">
					<li>{{> loginButtons}}</li> 
				</ul>
			</div> 
		</div>
	</header> 
</template>